<!DOCTYPE html>
<html>
<head>
    <title>Cartridges Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body{
            font-family: "calibri";
        }
        input {
            width:50px;
        }
        table{
            border: 1px solid black;
        }
        .dataelem{
            border: 1px solid red;
        }
        
        #container{
            display: flex;
        }
        .cartridge{
            width:800px;
        }
        #data{            
            cursor: pointer;
            padding: 2px 2px 2px 2px;
        }
        #cartridges{
            width: 90%;         
            display: flex;
            flex-wrap: wrap;      
        }
        .largeboldtext{
            font-weight: bold;
            font-size: large;
        }
        textarea{
            width:100%;
            height:700px;
        }
        .canvas{
            width:200px;
            height:200px;
            background-color:yellow;         
        }
        .endcell {
            background-color: green;
        }
        .ligand{border: 1px solid black;}
        .ligand.l1 {background-color: yellow;}
        .ligand.l2 {background-color: turquoise;}
        .ligand.l3 {background-color: lightgreen;}
        .ligand.l4 {background-color: cyan;}
        .ligand.l5 {background-color: rgb(255, 137, 137);}
        .ligand.l6 {background-color: orange;}
        .ligand.l7 {background-color: rgb(140, 141, 52);}
        .ligand.l8 {background-color: rgb(109, 121, 143);}
        .ligand.l9 {background-color: wheat;}        
        .ligand.l10 {background-color: thistle;}        
        .ligand.l11 {background-color: springgreen;}        
        .ligand.l12 {background-color: SkyBlue;}        
        .ligand.l13 {background-color:MediumOrchid;}        
        .ligand.l14 {background-color: MediumVioletRed;}        
        .ligand.l15 {background-color: MediumTurquoise;}        
        .ligand.l16 {background-color: MediumSpringGreen;}        
        .ligand.l17 {background-color: OliveDrab;}        
        .ligand.l18 {background-color: orange;}        
        .ligand.l19 {background-color: orchid;}        
        .ligand.l20 {background-color: palegreen;}        
        .ligand.l21 {background-color: palevioletred;}        
        .ligand.l22 {background-color: paleturquoise;}        
        .ligand.l23 {background-color: lightseagreen;}        
        .ligand.l24 {background-color: lightsalmon;}        
        .ligand.l25 {background-color: lightslategray;}        
        .ligand.l26 {background-color: lightcyan;} 
        .ligand.header{font-weight: bold; font-size: larger;}
        
        .sizing{margin: 20px 20px 20px 20px; }
        .sizing.A{background-color: yellow;}
        .sizing.B{background-color: cyan;}
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        let result = {};
        let data = {value:0, name:""};
        let g_cartridges = [];
        let ligandNames = [];
        let input = {};
        $( document ).ready(function() {LoadData();});

        function InitializeData()
        {
            data = {value:0, name:""};
            g_cartridges = [];
            ligandNames = [];
        }

        function LoadData()
        {
            $("#ligands").val(3);
            $("#analytes").val(30);
            //$("#count1").val(2);
            $("#rows1").val(6);
            $("#cols1").val(8);           
        }

        function Generate()
        {
            InitializeData();
            input = {
                ligands : $("#ligands").val(),
                analytes : $("#analytes").val(),
                cartridges : []
            };

            let totalCartridges = $('#cartridgeTable tbody tr').length;
            //console.log("totalCartridges = ", totalCartridges);
            for(let i=1; i< totalCartridges; i++)
            {
                let count = Number($(`#count${i}`).val());
                let rows = Number($(`#rows${i}`).val());
                let cols = Number($(`#cols${i}`).val());
                if(!(rows == NaN || cols == NaN || rows == 0 || cols == 0))
                {
                    //console.log(`(rows,cols)=(${rows},${cols})`)
                    input.cartridges.push({count : count, rows : rows, cols : cols});
                }
            }            
            //console.log(input);
            /*
            $.post("cartridges", input, function(data, status){
                result = data;
                console.log("data = ", data);
                $("#numcartridges").text(result.totalCartridges);
                $("#numinteractions").text(result.uniqueInteractions);
                DisplayCartidges();
            });
            */

            $.post("cartridges", input) 
             .done(function (data) {
                result = data;
                //console.log("data = ", data);
                $("#output").html(`<textarea rows="4">${JSON.stringify(result, 2, ' ')}</textarea>`);               
                $("#numcartridges").text(result.totalCartridges);
                $("#numinteractions").text(result.uniqueInteractions);
                $("#maxinteractions").text(result.maxInteractions);
                DisplayCartidges();
            })
            .fail(function(jqXHR, textStatus, errorThrown) { 
                //console.log("ErrorMessage = ", jqXHR.responseJSON.message);
                $("#cartridges").html(`<textarea>${jqXHR.responseJSON.message.join("\n")}</textarea>`);               
            });            
        }

        function DisplayCartidges()
        {
            let rows = Number(result.cartridges[0].rows);
            let cols = Number(result.cartridges[0].cols);
            g_cartridges = new Array(result.maxInteractions).fill(null);
            let totalCols = result.totalCartridges * cols;
            let rowPerCol = [];
            let counter = 0;
            for(let cart=0; cart<result.cartridges.length; cart++)
            {
                for(let j=0; j<result.cartridges[cart].count; j++)
                {    
                    for(let k =0; k<result.cartridges[cart].cols; k++)  
                    {
                        rowPerCol[counter] = result.cartridges[cart].cols;
                        counter++;
                    }              
                }
            }
            //console.log(`rowPerCol = ${rowPerCol}`);
            if(result.mode == "analytes")
                totalCols = result.ligands[result.ligands.length-1].end + 1;
            //console.log(`Total Columns = ${totalCols}`);
            // Populate Ligands
            for(var i=0; i<result.ligands.length; i++)
            {
                let startIndex = result.ligands[i].start;
                let endIndex = result.ligands[i].end;

                for(var index = startIndex; index <= endIndex; index++){
                    ligandNames.push(result.ligands[i].name);
                }

                // populate the analytes
                var value = 1;
                for(var row=0; row < rows; row++)
                {
                    for(var col=startIndex; col <=endIndex; col++)
                    {                        
                        if(row >= rowPerCol[col])
                            continue;
                        var index = row * totalCols + col;

                        g_cartridges[index] = {value : value, name : result.ligands[i].name};
                        //console.log(`(index, row, col, startIndex, endIndex, name, value) = (${index}, ${row}, ${col}, ${startIndex}, ${endIndex}, ${result.ligands[i].name},${value})`);
                        value++;
                        if(result.mode == "cartridge")
                            if(value > input.analytes)
                                break;
                    }
                    if(result.mode == "cartridge")
                        if(value > input.analytes)
                            break;
                }

                // Remap the numbers vertically
                value = 1;
                for(var col=startIndex; col <=endIndex; col++)
                {
                    for(var row=0; row < rows; row++)
                    {                        
                        var index = row * totalCols + col;
                        if(g_cartridges[index] != null)
                        {
                            g_cartridges[index].value = value++;
                        }
                    }
                }

            }        

            //console.log("ligandNames = ", ligandNames);
            //console.log("g_cartridges = ", g_cartridges);
            GenerateCartridges();            
        }

        function GenerateCartridges()
        {
            let html  = [];
            html.push(GenerateBaseTable());
            //console.log(html);
            $("#cartridges").html(html);
        }

        function GenerateBaseTable()
        {
            let html = [];
            let cartridgeId = 0;   
            let startCol = 0;
            let endCol = 0; 
            for(var cart=0; cart<result.cartridges.length; cart++){
                for(var col=0; col<result.cartridges[cart].count; col++){                    
                    let rows = result.cartridges[cart].rows;
                    let cols = result.cartridges[cart].cols;
                    //console.log(`GenerateBaseTable(cartridgeId, startCol, endCol, rows, cols) = (${cartridgeId}, ${startCol}, ${endCol}, ${rows}, ${cols})`);
                    endCol = Number(startCol) + Number(cols) - 1;
                    //console.log(`GenerateBaseTable(cartridgeId, startCol, endCol, rows, cols) = (${cartridgeId}, ${startCol}, ${endCol}, ${rows}, ${cols})`);
                    //console.log(`col = ${col}`);
                    html.push(`<div class="sizing">${GenerateCartridge(cartridgeId, startCol, endCol, rows, cols)}</div>`);
                    //console.log(`GenerateBaseTable(cartridgeId, startCol, endCol, rows, cols) = (${cartridgeId}, ${startCol}, ${endCol}, ${rows}, ${cols})`);
                    startCol = endCol + 1;
                    //console.log(`GenerateBaseTable(cartridgeId, startCol, endCol, rows, cols) = (${cartridgeId}, ${startCol}, ${endCol}, ${rows}, ${cols})`);
                    cartridgeId++;
                    if(cartridgeId >= result.totalCartridges)
                        break;
                }
            }
            return html.join('\n');
        }

        function GenerateCartridge(cartridgeId, startCol, endCol, rows, cols)
        {
            //console.log(`GenerateCartridge(cartridgeId, startCol, endCol, rows, cols) = (${cartridgeId}, ${startCol}, ${endCol}, ${rows}, ${cols})`);
            let otherRows = 6;
            let analytes = $("#analytes").val();
            //let rows = input.cartridges[0].rows;
            //let cols = input.cartridges[0].cols;
            //let cartridgeCols = cartridgeId * cols;
            let totalCols = result.totalCartridges * cols;
            if(result.mode == "analytes")            
                totalCols = result.ligands[result.ligands.length-1].end + 1;
            let totalRows = Number(rows) + otherRows;
            let colHeaders = ["", "R","A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z","Bu"]
            let html = [];

            html.push("<div><table class=\"w3-table w3-border w3-bordered w3-centered\">");
            let cellValue = "";   
            
            for(var row=0; row<totalRows; row++){
                html.push("<tr>");
                for(var col=0; col<=cols; col++){
                    let classValue="ligand";
                    cellValue = "";
                    if(row == 0 && col > 0)
                        cellValue = col;
                    else if (row > 0 && col == 0)
                    {
                        cellValue = (row == totalRows - 1) ? "Bu" : colHeaders[row];
                    }
                        
                    else if (row == 4)
                    {
                        let index = startCol + col - 1;
                        if(index >= ligandNames.length)
                            cellValue = "??";
                        else
                            cellValue = ligandNames[index]; 
                            
                        classValue = `ligand ${cellValue.toLowerCase()} header`;
                    }                                               
                    else if (row == totalRows-1)
                    {
                        cellValue = "B";                        
                        classValue = "endcell";
                    }
                    else if (row >= 5){
                        var index = (row - 5) * totalCols + startCol + col - 1;
                        if(g_cartridges[index] != null){
                            cellValue = g_cartridges[index].value;
                            classValue = `ligand ${g_cartridges[index].name.toLowerCase()}`;                        
                        }
                    }
                    else 
                    {
                        cellValue = "&nbsp;";
                    }
                        
                    //let cid = `c${cartridgeId}${row}${col}`;
                    //html.push(`<td class="${classValue}" id="${cid}">${cellValue}</td>`);
                    html.push(`<td class="${classValue}" >${cellValue}</td>`);
                }
                html.push("</tr>");
            }
            html.push("</table></div>");
            return html.join('\n');
        }               

        function AddRow(){
            let rows = $('#cartridgeTable tbody tr').length;
            let html = [];
            html.push("<tr>");
            html.push(`<td><input type="text" id="count${rows}" /></td>`);
            html.push(`<td><input type="text" id="rows${rows}" /></td>`);
            html.push(`<td><input type="text" id="cols${rows}" /></td>`);
            html.push("</tr>");
            $('#cartridgeTable').append(html.join());
        }       
    </script>
    
</head>
<body>
    <div id="container">    
        <div id="data"  class="w3-container">
            <table>
                <tr>
                    <td>Ligands</td>
                    <td><input type="text" id="ligands" /></td>
                </tr>
                <tr>
                    <td>Analytes/Ligand</td>
                    <td><input type="text" id="analytes" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="largeboldtext">Cartridge Information</label>
                        <table id="cartridgeTable">
                            <tr>
                                <th>#</th>
                                <th>Rows</th>
                                <th>Cols</th>
                            </tr>
                            <tr>
                                <td><input type="text" id="count1" /></td>
                                <td><input type="text" id="rows1" /></td>
                                <td><input type="text" id="cols1" /></td>
                            </tr>
                        </table>
                        <button onclick="AddRow()">Add Cartridge</button>
                    </td>
                </tr>
                <tr>
                    <td class="largeboldtext"># of Cartridges</td>
                    <td><label class="largeboldtext" type="text" id="numcartridges"/></td>
                </tr>
                <tr>
                    <td># of Interactions</td>
                    <td><label type="text" id="numinteractions"/></td>
                </tr>
                <tr>
                    <td>Max Interactions</td>
                    <td><label type="text" id="maxinteractions"/></td>
                </tr>
                <tr><td colspan="2"><button onclick="Generate()">Generate</button></td></tr>
            </table>
            <div id="output"></div>
        </div>           
        <div id="cartridges" class="w3-container"></div>            
    </div>   
</body>
</html>